.choice-button {
  @include transition(all, 0.3s, ease-in-out);

  border: 3px solid var(--button-border);
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;

  &:hover {
    border-color: var(--button-hover-border);
    transform: scale(1.05);
  }
}
