
.layout {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  padding: var(--layout-padding);
}

.title {
  background: linear-gradient(120deg, var(--primary-gradient-start) 30%, var(--primary-gradient-end) 90%);
  color: transparent;
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  text-shadow: 2px 2px 4px var(--text-shadow-color);
  -webkit-background-clip: text;
}
