.start-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  &:hover {
    background-color: #27ae60;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  }

  &:active {
    transform: translateY(1px);
  }
}

.nav-buttons {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
}

.nav-button {
  background-color: #f2f2f2;
  border: none;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow:
      0 6px 12px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.2);
  }

  i {
    margin-right: 5px;
  }
}

.choice-button {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid var(--button-border);
  background-color: #f9f9f9;
  @include transition(all, 0.3s, ease-in-out);

  &:hover {
    border-color: var(--button-hover-border);
    transform: scale(1.05);
  }

  p {
    font-weight: bold;
  }
}
